.div-arrange{
    width: 300px;
    border: 10px solid slategray;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}
.div-arrange img{
    width: 200px;
}
#foodies img{
    width: 100%;   
}
#contain{
    background-color:#EDD263 ;
}
#foodies{
    text-align: center;
    font-weight: bold;
    width: 500px;
    margin: 0 auto;
}
#foodies li{
    list-style-type: none;
}
#show-food{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
